{% extends 'LoginLoginBundle::base.html.twig' %}
     {%block stylesheets %}

<link href="{{asset('bundles/loginlogin/css/bootstrap.css')}}" rel="stylesheet">

    <link href="{{asset('bundles/loginlogin/css/bootstrap-responsive.css')}}" rel="stylesheet">
        <style type="text/css">
                /* Override some defaults */
                html, body {
                    background-color: #eee;
                }
                body {
                    padding-top: 40px; 
                }
                .container {
                    width: 1000px;
                }

                /* The white background content wrapper */
                .container > .content {
                    background-color: #fff;
                    padding: 20px;
                    margin: 0 -20px; 
                    -webkit-border-radius: 10px 10px 10px 10px;
                    -moz-border-radius: 10px 10px 10px 10px;
                    border-radius: 10px 10px 10px 10px;
                    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                    box-shadow: 0 1px 2px rgba(0,0,0,.15);
                }

                .login-form {
                    margin-left: 65px;
                }

                legend {
                    margin-right: -50px;
                    font-weight: bold;
                    color: #404040;
                }

            </style>

{%endblock%}

{% block title %}HomePage{% endblock%}
{% block body %}
            <div class="container">
                <div class="content">
                    <article class="blog">
                        <header>
                            <h2>{{ blog.title }}</h2>
                        </header>

                        <div class="snippet">
                            <p>{{ blog.blog() }}</p>
                        </div>

                        <footer class="meta">
                            <p>Posted by <span class="highlight">{{ blog.author }}</span> </p>
                            <h4>Comments:</h4>
                        </footer>
                    </article>
                </div> 
            </div> 

            <div style="width: 10px"><br></div>

    {% for comment in comments %} 

            <div class="container">
                <div class="content">
                    <header>
                        <h6>user: {{ comment.user }}</h6>
                    </header>

                    <div class="snippet">
                        <p>{{ comment.comment() }}</p>
                    </div>
                </div>
            </div>
            <div style="width: 10px">
                <br> 
            </div>
  {% else %}
            <div class="container">
                <div class="content">
            <p>There is no comment for This Blog</p>
                </div>
            </div>
            <div style="width: 10px">
                <br> 
            </div>
    {% endfor %}



            <div class="container">
                <div class="content">
                    <form action="{{path('login_login_details', { 'blog_id': blog.id })}}" method="POST">
                        <fieldset>
                            <div class="clearfix">
                                <textarea class="span6" rows="3" name="comment" placeholder="What's up?" required></textarea>
                            </div> 
                            <button class="btn primary" type="submit">Leave Comment!</button> 
                        </fieldset>
                    </form>
                </div>
            </div>


{% endblock %}